<div class="header-container">
  <img src="icons/mill-luck.svg" alt="logo" />
  <div class="menu-container">
    <p class="menu-item">Dashboard</p>
    <p class="menu-item">Products</p>
    <p class="menu-item">Orders</p>
  </div>
  <div class="icon-container">
    <img src="icons/search.svg" class="header-icon" alt="logo" />
    <img src="icons/cart-shopping.svg" class="header-icon" alt="logo" />
    <img src="icons/user.svg" class="header-icon" alt="logo" />
    <img src="icons/bars.svg" class="header-icon" alt="logo" />
  </div>
</div>
