@import "./../../src/styles.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue-very-light;
}

.bottom-header {
  display: none;

  @media (min-width: $breakpoint-large) {
    display: unset;
  }
}
