<div>
  <div class="footer-container">
    <div class="logo-container">
      <img class="mill-luck-logo" src="icons/mill-luck.svg" alt="logo" />
    </div>

    <p class="content-text">
      Lorem ipsum dolor sit amet consectetur. Varius dui vitae nulla nulla
      consequat. Mauris dictumst dui diam massa pretium ornare purus nec.
      Pellentesque lobortis leo euismod interdum elementum neque. Amet pretium
      dui in etiam. Magna mattis aliquet blandit ac rhoncus est duis id.
    </p>
    <div class="section-wrapper">
      <div class="contact-container">
        <p class="section-header">Contact</p>
        <p class="contact-text">
          Mill Luck AB<br />
          Kungsgatan 12<br />
          Göteborg
        </p>
        <div class="link-container">
          <a class="mill-luck-link">www.mill-luck.com</a>
          <img
            class="arrow-mill-luck"
            src="icons/arrow-right-white.svg"
            alt="logo"
          />
        </div>
      </div>
      <div class="support-container">
        <p class="section-header">Support</p>
        <div class="link-assistance-container">
          <a class="mill-luck-link">Do you need assistance?</a>
          <div class="link-container">
            <a class="mill-luck-link">Visit our help section</a>
            <img
              class="arrow-mill-luck"
              src="icons/arrow-right-white.svg"
              alt="logo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="all-rights-container">
    <p class="all-rights-text">
      Version 10.12366632111. <br />
      © 2022. <br />
      Mill Luck AB. <br />
      All rights reserved.
    </p>
  </div>
</div>
