<div>
  <p class="fs-section-heading">Shortcuts</p>
  <div class="icon-container">
    <div class="icon-item">
      <img class="icon" src="icons/file-plus.svg" alt="logo" />
      <p>New List</p>
    </div>
    <div class="icon-item">
      <img class="icon" src="icons/primary.svg" alt="logo" />
      <p>Calculator</p>
    </div>
    <div class="icon-item">
      <img class="icon" src="icons/magnifying-glass.svg" alt="logo" />
      <p>Tool Finder</p>
    </div>
    <div class="icon-item">
      <img class="icon" src="icons/message-question.svg" alt="logo" />
      <p>FAQ</p>
    </div>
  </div>
</div>
